/* Import any non-standard fonts from google using @url (""); format */

        /* Set the body style
        HTML color code for dollar bill used for body */
body {
  font-family: sans-serif;
  background-color: hsl(62, 32%, 85%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: hsl(136, 82%, 13%);
  text-align: center;
  padding: 40px;
}

/* Set the different element styles */
input, select, button {
  width: 120px;
  font-family: inherit;
  font-size: 1rem;
  text-align: center;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: none;
}

h1 {
  text-align: center;
}

button {
  background-color:  hsl(136, 82%, 13%);
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color:  hsl(136, 82%, 13%);
  color: hsl(68, 30%, 85%);
}

table {
  width: max(20rem, 75%);
  height: max-content;
	display: table;
  border: 0px solid;
  border-spacing: 1px;
  border-bottom: 1px;
  border-collapse: separate;
  box-sizing: border-box;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}