/* Import any non-standard fonts from google using @url (""); format */

        /* Set the body style
        HTML color code for dollar bill used for body */
body {
  font-family: sans-serif;
  background-color: #85BB65;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: hsl(136, 82%, 13%);
  text-align: center;
  padding: 40px;
}

/* Set the different element styles */
input, select, button {
  font-family: inherit;
  font-size: 1rem;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: none;
}

h1 {
  text-align: center;
}

button {
  background-color:  hsl(136, 82%, 13%);
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color:  hsl(136, 82%, 13%);
  color: #85BB65;
}

table {
  width: max(20rem, 100%);
  height: fit-content;
	display: table;
  border: 0px solid;
  border-spacing: 10px;
  border-bottom: 2px;
  border-collapse: separate;
  box-sizing: border-box;
  text-align: center;
  text-indent: 0;
  margin-left: auto;
  margin-right: auto;
}